<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.richies3d.LumiFur</string>
		<string>group.com.rileytestut.AltStore.Z64L7GR687</string>
		<string>group.com.richies3d.LumiFur.Z64L7GR687</string>
	</array>
</dict>
</plist>
